<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        
        {{#is "index"}}
            <span class="logo-text logo-text-light">{{@site.title}}</span>
        {{else}}
            <span class="logo-text">{{@site.title}}</span>
        {{/is}}
        
    {{/if}}
</a>